* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.product-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}
.productItem-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 199, 219);
  padding: 1rem;
  transform: all 50s ease;
  border-radius: 0.5rem;
  width: 100%;
  behavior: smooth;
}
.productItem-container img {
  object-fit: fill;
}
.productItem-container:hover {
  transform: scale(0.95);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  color: #666;
}

@media (max-width: 700px) {
  .product-list-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .product-list-container {
    grid-template-columns: 1fr;
  }
}
