@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght,MONO@200..800,0..1&display=swap");

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.product-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}
.productItem-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 199, 219);
  padding: 1rem;
  transform: all 50s ease;
  border-radius: 0.5rem;
  width: 100%;
  behavior: smooth;
}
.productItem-container img {
  object-fit: fill;
}
/* .productItem-container:hover {
  transform: scale(0.95);
} */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  color: #666;
}

.nav-bar {
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.nav-bar ul {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.nav-bar h1 {
  text-align: center;
  padding: 1rem;
}

.nav-active {
  background-color: blue;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
}

.filter-label {
  margin: 1rem;
  color: red;
}

@media (max-width: 700px) {
  .product-list-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .product-list-container {
    grid-template-columns: 1fr;
  }
}
