* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

.home-container,
.buttons-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

div input {
  height: 2rem;
  border: 1px solid;
  padding-left: 0.5rem;
  border-radius: 5px;
}

div button {
  cursor: pointer;
  padding: 10px;
  display: block;
}

.js-basics {
  display: flex;
  flex-direction: row;
}
.js-basics button {
  border-radius: 5px;
}

.active {
  background: rgb(174, 16, 92);
}
